<head>
 <link rel="stylesheet" href="/css/empty.css">   
</head>
<header>
  <div class="container-fluid">
    <!-- Navbar -->
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-dark mt-1 mb-5 shadow p-2"
      style="background-color: #607d8b"
    >
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand mx-5" href="/"><h3>ESHOP SPORT</h3></a>

        <!-- Toggle button -->
        <button
          class="navbar-toggler text-white"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent1"
          aria-controls="navbarSupportedContent1"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
          <ul class="navbar-nav mx-5 me-auto mb-2 mb-lg-0">
            <!-- Link -->
            <li class="nav-item acitve">
              <a class="nav-link mx-2" href="/"><h5>HOME</h5></a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="/shop"><h5>SHOP NOW</h5></a>
            </li>

            <li class="nav-item">
              <a class="nav-link mx-2" href="/contactus"
                ><H5>CONTACT US</H5></a
              >
            </li>
          </ul>

          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item ms-5 fs-3 text-light">
              <a href="/wishlist" class="text-decoration-none text-light"
                ><i class="ri-heart-line"></i
              ></a>
            </li>
            <li class="nav-item mx-5 fs-3">
              <a href="/cart" class="text-decoration-none text-light d-flex"
                ><i class="ri-shopping-cart-fill"></i
              ></a>
            </li>
            <li class="nav-item pt-1">
              <div class="d-flex">
                <% if (ifuser) { %>

                <div class="dropdown">
                  <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="ri-user-fill"></i>
                  </button>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1"
                  >
                    <li>
                      <a class="dropdown-item" href="#">mohammed </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/profile">profile</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/orders">orders</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/logout"
                        ><button class="btn btn-dark">logout</button></a
                      >
                    </li>
                  </ul>
                </div>

                <% } else { %>

                <a href="/login">
                  <button class="btn btn-dark d-flex">
                    <h5 class="mx-2">LOGIN</h5>
                    <i class="ri-login-box-line fs-5"></i></button
                ></a>

                <% } %>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Container wrapper -->
    </nav>
  </div>
</header>

<div class="container-fluid mt-100">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Cart</h5>
        </div>
        <div class="card-body cart">
          <div class="col-sm-12 empty-cart-cls text-center">
            <img
              src="https://i.imgur.com/dCdflKN.png"
              width="130"
              height="130"
              class="img-fluid mb-4 mr-3"
            />
            <h3><strong>Your Cart is Empty</strong></h3>
            <h4>Add something to make me happy :)</h4>
            <a
              href="/"
              class="btn btn-primary cart-btn-transform m-3"
              data-abc="true"
              >continue shopping</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
