<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Golden Shoe Image Carousel</title>
    <link rel="stylesheet" type="text/css" href="/css/zoomstyle.css" />
  </head>
  <body>
    <!-- Primary carousel image -->

   
    <div class="show" href="/image/empty/emptywishlist.jpg">
      <img src="/image/empty/emptywishlist.jpg" id="show-img">
    </div>

    <!-- Secondary carousel image thumbnail gallery -->

    <div class="small-img">
     <img src="images/next-icon.png" class="icon-left" alt="" id="prev-img">
      <div class="small-container">
       <div id="small-img-roll">
         <img src="/image/empty/emptywishlist.jpg" class="show-small-img" alt="">
         <img src="images/2.png" class="show-small-img" alt="">
         <img src="images/3.png" class="show-small-img" alt="">
         <img src="images/4.png" class="show-small-img" alt="">
       </div>
      </div>
     <img src="images/next-icon.png" class="icon-right" alt="" id="next-img">
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
    crossorigin="anonymous"></script>
    <script src="/js/zoomimage.js"></script>
    <script src="/js/zoommain.js"></script>
  </body>
</html>
