<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	

	
	<style>
        .checkout-main {
            width: 100vw;
            background-color: var(--lightGrey);
            min-height: 80vh;
        }
        .price-item {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        .price-item label {
            font-size: 1.1rem;
        }
        .price-item b {
            font-size: 1.2rem;
        }
        .price-item button {
            height: 50px;
            border: none;
            outline: none;
            background-color: var(--black);
            color: white;
            font-weight: 550;
        }
        .coupon-item input {
            border: none;
            width: 100%;
            height: 50px;
            outline: none;
            background-color: black;
            padding-left: 10px;
        }
        .cart-price-details {
            background-color: var(--white);
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 30px;
        }
    </style>

    <div class="checkout-main">
        <div class="container">
            <div class="row d-flex flex-column align-items-center justify-content-center">
                <h3 class="text-center mt-5">Payment Gateway</h3>
                <form action="/verifyPayment" id="paymentForm" method="post" class="cart-price-details w-75">

                    <div class="price-item">
                        <label for="">Total amount</label>
                        <b>₹6</b>
                    </div>
                    <div class="price-item">
                        <label for="">Coupon discount</label>
                        <b id="couponPrice" class="text-success">₹ 6</b>
                    </div>
                    <div class="price-item">
                        <label for="">Amount to pay</label>
                        <b id="amountPayable">₹ 6</b>
                        <input type="number" form="paymentForm" name="amount" value="6" hidden>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button id="rzp-button1" class="btn btn-rounded btn-danger" type="submit" form="paymentForm">Pay
                            Now</button>
                         <button class="btn btn-rounded btn-dark mx-3" type="button" onclick="window.location.href='/checkout'">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script>
	document.getElementById('rzp-button1').onclick = async function (e) {
		e.preventDefault();
		 await axios.post('/verifyPayment').then((response)=>{
		
			if (response.data.success) {
			let orderData = response.data.order
			let id = orderData.id
			let key = response.data.key
			let amount = orderData.amount 
			var options = {
				"key": key, // Enter the Key ID generated from the Dashboard
				"name": "Eshop sport",
				"amount": amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
				"currency": "INR",
				"description": "Test Transaction",
				"image": "/images/logo.png",
				"order_id": id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
				"callback_url": "/verifyPayment",
				"theme": {
					"color": "#da1111"
				}
			};
			var rzp1 = new Razorpay(options);
			rzp1.open();
		} else {
			window.location.reload()
		}
		})
	
	}
</script>
</body>
</html>