<form   action="/admin/banner"
method="post"
enctype="multipart/form-data">
<div class="form-group">
  <label for="exampleFormControlFile1">main image</label>
  <input
    type="file"
    required
    name="mainImage"
    class="form-control-file"
    id="exampleFormControlFile1"
  />

</div>
<div>
  <button type="submit" class="btn btn-primary">
    submit
  </button>
</div>
</form>