<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, AdminWrap lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, AdminWrap lite design, AdminWrap lite dashboard bootstrap 5 dashboard template"
    />
    <meta
      name="description"
      content="AdminWrap Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework"
    />
    <meta name="robots" content="noindex,nofollow" />
    <title>add categories</title>
    <link
      rel="canonical"
      href="https://www.wrappixel.com/templates/adminwrap-lite/"
    />
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicon.png"
    />
    <!-- Bootstrap Core CSS -->
    <link
      href="/assets/node_modules/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css"
      rel="stylesheet"
    />
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="/assets/node_modules/morrisjs/morris.css" rel="stylesheet" />
    <!--c3 CSS -->
    <link href="/assets/node_modules/c3-master/c3.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- Dashboard 1 Page CSS -->
    <link href="/css/pages/dashboard1.css" rel="stylesheet" />
    <!-- You can change the theme colors from here -->
    <link href="/css/colors/default.css" id="theme" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>

  <body class="fix-header fix-sidebar card-no-border">
    <header>
      <!-- As a link -->
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <h2 style="margin-left: -10px">
              <strong>Eshop Sport Admin</strong>
            </h2>
          </a>
        </div>
      </nav>
    </header>
    <aside class="left-sidebar">
      <div class="scroll-sidebar">
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin"
                aria-expanded="false"
                ><i class="fa fa-home"></i
                ><span class="hide-menu">Dashboard</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/userManagement"
                aria-expanded="false"
                ><i class="fa fa-users"></i
                ><span class="hide-menu">user management</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/categoriesManagement"
                aria-expanded="false"
                ><i class="fa fa-list"></i
                ><span class="hide-menu">categories</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/productManagement"
                aria-expanded="false"
                ><i class="fa fa-shopping-cart"></i
                ><span class="hide-menu">Product</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/banner"
                aria-expanded="false"
              >
                <i class="fa fa-bookmark-o"></i
                ><span class="hide-menu">banner</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/couponManagement"
                aria-expanded="false"
                ><i class="ri-coupon-3-fill"></i
                ><span class="hide-menu">coupon </span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/orderManagement"
                aria-expanded="false"
                ><i class="ri-list-unordered"></i
                ><span class="hide-menu">order Management</span></a
              >
            </li>
            <li>
              <a
                class="waves-effect waves-dark"
                href="/admin/salesReport"
                aria-expanded="false"
                ><i class="ri-file-chart-line"></i
                ><span class="hide-menu">sales report</span></a
              >
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>

    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="row page-titles">
          <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">categories</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
              </li>
              <li class="breadcrumb-item active">category</li>
            </ol>
          </div>
        </div>
        <section>
          <form
            action="/admin/addcategories"
            method="post"
            role="form"
            id="addcategory"
            onsubmit="return submitform(event)"
          >
            <div id="error"></div>
            <label class="text-danger"><%-categorieserr %></label>

            <div class="form-group">
              <label for="formGroupExampleInput">add categories</label>
              <input
                type="text"
                class="form-control"
                name="CategoryName"
                id="CategoryName"
                placeholder="brand/category"
              />
            </div>

            <button class="btn btn-primary" type="submit">add</button>
          </form>
        </section>
      </div>
    </div>

    <footer class="footer">
      © 2023 eshopsport by
      <a href="/views/adminPages/adminHome.ejs">eshopsport.com</a>
    </footer>

    <script src="/assets/node_modules/jquery/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="/assets/node_modules/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->

    <!--morris JavaScript -->
    <script src="/assets/node_modules/raphael/raphael-min.js"></script>
    <script src="/assets/node_modules/morrisjs/morris.min.js"></script>
    <!--c3 JavaScript -->
    <script src="/assets/node_modules/d3/d3.min.js"></script>
    <script src="/assets/node_modules/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    <script>
      const form = document.querySelector("#addcategory");
      const CategoryName = form.querySelector("#CategoryName");
      const errorElement = document.querySelector("#error");
      function hideErrorMessage() {
        errorElement.innerHTML = "";
      }
      function showErrorMessage(message) {
        errorElement.innerHTML = `<div class="alert alert-danger border border-warning w-80 d-flex justify-content-center fw-bold py-2 mx-4" role="alert" >${message}</div>`;
        setTimeout(() => {
          errorElement.innerHTML = `<div></div>`;
        }, 5000);
      }
      function submitform(data) {
        var startsWithSpace = /^\s/;
        var isNegativeNumber = /^-\d/;
        if (CategoryName.value.match(startsWithSpace)) {
          showErrorMessage("space is not allowed");
          return false;
        } else if (CategoryName.value.match(isNegativeNumber)) {
          showErrorMessage("negative sign is not allowed");
          return false;
        } else if (CategoryName.value == "") {
          showErrorMessage("category name is null");
          return false;
        } else if (CategoryName.value == 0) {
          showErrorMessage("zero is not allowed");
          return false;
        } else {
          hideErrorMessage();
          return true;
        }
      }
    </script>
  </body>
</html>
