<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, AdminWrap lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, AdminWrap lite design, AdminWrap lite dashboard bootstrap 5 dashboard template"
    />
    <meta
      name="description"
      content="AdminWrap Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework"
    />
    <meta name="robots" content="noindex,nofollow" />
    <title>dashboard</title>
    <link
      rel="canonical"
      href="https://www.wrappixel.com/templates/adminwrap-lite/"
    />
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/images/favicon.png"
    />
    <!-- Bootstrap Core CSS -->
    <link
      href="/assets/node_modules/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css"
      rel="stylesheet"
    />
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="/assets/node_modules/morrisjs/morris.css" rel="stylesheet" />
    <!--c3 CSS -->
    <link href="/assets/node_modules/c3-master/c3.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- Dashboard 1 Page CSS -->
    <link href="/css/pages/dashboard1.css" rel="stylesheet" />
    <!-- You can change the theme colors from here -->
    <link href="/css/colors/default.css" id="theme" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
      <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">eshopsport</p>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
          <!-- ============================================================== -->
          <!-- Logo -->
          <!-- ============================================================== -->
          <div class="navbar-header">
            <a class="navbar-brand" href="index.ejs">
              <!-- Logo icon --><b>
                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                <!-- Dark Logo icon -->
                <img
                  src="/assets/images/logo-icon.png"
                  alt="homepage"
                  class="dark-logo"
                />
                <!-- Light Logo icon -->
                <img
                  src="/assets/images/logo-light-icon.png"
                  alt="homepage"
                  class="light-logo"
                />
              </b>
              <!--End Logo icon -->
              <!-- Logo text --><span>
                <!-- dark Logo text -->
                <img
                  src="../assets/images/logo-text.png"
                  alt="homepage"
                  class="dark-logo" />
                <!-- Light Logo text -->
                <img
                  src="../assets/images/logo-light-text.png"
                  class="light-logo"
                  alt="homepage"
              /></span>
            </a>
          </div>
         <div class="navbar-collapse">
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a
                  class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                  href="javascript:void(0)"
                  ><i class="fa fa-bars"></i
                ></a>
              </li>
            <li class="nav-item hidden-xs-down search-box">
                <a
                  class="nav-link hidden-sm-down waves-effect waves-dark"
                  href="javascript:void(0)"
                  ><i class="fa fa-search"></i
                ></a>
                <form class="app-search">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search & enter"
                  />
                  <a class="srh-btn"><i class="fa fa-times"></i></a>
                </form>
              </li>
            </ul>
           <ul class="navbar-nav my-lg-0">
            <li class="nav-item dropdown u-pro">
                <a
                  class="nav-link dropdown-toggle waves-effect waves-dark profile-pic"
                  href="#"
                  id="navbarDropdown"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ><img
                    src="../assets/images/users/1.jpg"
                    alt="user"
                    class=""
                  />
                  <span class="hidden-md-down">Mohammed Risvan &nbsp;</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="/admin/logout"
                      ><button class="btn btn-dark">logout</button></a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
 
      <aside class="left-sidebar">
        <div class="scroll-sidebar">
          <nav class="sidebar-nav">
            <ul id="sidebarnav">
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="admin/dashboard"
                  aria-expanded="false"
                  ><i class="fa fa-home"></i
                  ><span class="hide-menu">Dashboard</span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="admin/userManagement"
                  aria-expanded="false"
                  ><i class="fa fa-users"></i
                  ><span class="hide-menu">user management</span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="admin/categoriesManagement"
                  aria-expanded="false"
                  ><i class="fa fa-list"></i
                  ><span class="hide-menu">categories</span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="admin/productManagement"
                  aria-expanded="false"
                  ><i class="fa fa-shopping-cart"></i
                  ><span class="hide-menu">Product</span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="/admin/banner"
                  aria-expanded="false"
                >
                  <i class="fa-thin fa-image"></i
                  ><span class="hide-menu">banner</span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="/admin/couponManagement"
                  aria-expanded="false"
                  ><i class="fa fa-bookmark-o"></i
                  ><span class="hide-menu">coupon </span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="/admin/orderManagement"
                  aria-expanded="false"
                  ><i class="fa fa-question-circle"></i
                  ><span class="hide-menu">order Management</span></a
                >
              </li>
              <li>
                <a
                  class="waves-effect waves-dark"
                  href="/admin/salesReport"
                  aria-expanded="false"
                  ><i class="fa fa-question-circle"></i
                  ><span class="hide-menu">sales report</span></a
                >
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <div class="page-wrapper">
        <div class="container-fluid">
          <div class="row page-titles">
            <div class="col-md-5 align-self-center">
              <h3 class="text-themecolor">Dashboard</h3>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)">Home</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div>
          </div>
          <div class="row">
            <!-- Column -->
            <div class="col-lg-8">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex no-block">
                    <div>
                      <h5 class="card-title mb-0">Sales Chart</h5>
                    </div>
                    <div class="ms-auto">
                      <ul class="list-inline text-center font-12">
                        <li>
                          <i class="fa fa-circle text-success"></i> SITE A
                        </li>
                        <li><i class="fa fa-circle text-info"></i> SITE B</li>
                        <li>
                          <i class="fa fa-circle text-primary"></i> SITE C
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="" id="sales-chart" style="height: 355px"></div>
                </div>
              </div>
            </div>
          </div>

          <div id="piechart"></div>

          <footer class="footer">
            © 2023 eshopsport by
            <a href="/views/adminPages/adminHome.ejs">eshopsport.com</a>
          </footer>
        </div>
      </div>
    </div>

    <script src="/assets/node_modules/jquery/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="/assets/node_modules/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="/assets/node_modules/raphael/raphael-min.js"></script>
    <script src="/assets/node_modules/morrisjs/morris.min.js"></script>
    <!--c3 JavaScript -->
    <script src="/assets/node_modules/d3/d3.min.js"></script>
    <script src="/assets/node_modules/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    <script src="js/dashboard1.js"></script>

    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>

    <script type="text/javascript">
      // Load google charts
      google.charts.load("current", { packages: ["corechart"] });
      google.charts.setOnLoadCallback(drawChart);

      // Draw the chart and set the chart values
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["profit", "Hours per Day"],
          ["revenue", 8],
          ["netprofit", 2],
          ["expense", 4],
          ["ongoing", 2],
          ["non", 8],
        ]);

        // Optional; add a title and set the width and height of the chart
        var options = { title: "My Average Day", width: 550, height: 400 };

        // Display the chart inside the <div> element with id="piechart"
        var chart = new google.visualization.PieChart(
          document.getElementById("piechart")
        );
        chart.draw(data, options);
      }
    </script>
  </body>
</html>
